/* imagen de fondo */
body {
  background-image: url('src/img/fondo.png');
  background-repeat:repeat;
}

/* Quita el subrayado de los links del header */
.header {
    a {
        text-decoration: none;
    }
    img {
        width: 15%;
        height: 15%;
    }
    position: sticky;
    top: 0;
    align-items: center;
    display: flex;
    gap: 1%;
}

/* Icono del header */
.icono {
    margin-right: auto;
}

/* Link a las demás páginas de la web */
.paginas {
    background-color: rgb(0, 0, 90);
    width: fit-content;
    border-radius: 20px;
    padding-left: 1%;
    padding-right: 1%;
    h1 {
        color: rgb(153, 153, 153);
    }
}