/* Para que la tabla esté en el centro */
.tabla {
    margin-left: 25%;
}

/* Un color diferente para cada tipo */
.normal {
    background-color: white;
}
.hada {
    background-color: pink;
}
.siniestro {
    background-color: rgb(55, 53, 53);
    color: white;
}
.volador {
    background-color: rgb(122, 122, 251);
}
.psiquico {
    background-color: rgb(137, 61, 133);
}
.veneno {
    background-color: rgb(28, 5, 50);
    color: white;
}
.dragon {
    background-color: rgb(83, 62, 83);
    color: white;
}
.planta {
    background-color: rgb(81, 239, 81);
}
.bicho {
    background-color: rgb(10, 83, 35);
    color: white;
}
.agua {
    background-color: aqua;
}
.electrico {
    background-color: yellow;
}
.fuego {
    background-color: red;
}
.lucha {
    background-color: brown;
}
.hielo {
    background-color: aquamarine;
}
.tierra {
    background-color: rgb(175, 139, 39);
}
.acero {
    background-color: grey;
}